# SLACK adapter options
HUBOT_ADAPTER=hipchat
HUBOT_OWNER=hubot
HUBOT_NAME=hubot
HUBOT_DESCRIPTION=Just a friendly robot
HUBOT_SLACK_TOKEN=

# IRC adapter options

# HIPCHAT adapter options
HUBOT_HIPCHAT_JID=268068_4632638@chat.hipchat.com
HUBOT_HIPCHAT_PASSWORD=12345
HUBOT_AUTH_ADMIN=Hubot
